<h1 class="bg-primary text-white p-4">
  Pipes
</h1>

<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-sm-6 offset-sm-3">
      <input type="text"  class="form-control" placeholder="search by country name" [(ngModel)] = "serarchByValue">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-info">
            <th>Sr No</th>
            <th>Name1</th>
            <th>Country</th>
            <th>Role</th>
            <th>Age</th>
            <th>Matches Played</th>
            <th>Test Runs</th>
            <th>Total Wickets</th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let player of playersArray | cricFilter : serarchByValue ; index as i">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.country}}</td>
            <td>{{player.role}}</td>
            <td>{{player.age}}</td>
            <td>{{player.matchesPlayed}}</td>
            <td>{{player.totalRuns}}</td>
            <td>{{player.totalWickets}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- <div class="container mt-4">
  <div class="row">
    <div class="col-md-4 " *ngFor="let file of filesArray">
      <div class="card">
        <div class="card-header">
          <h2>{{file.name}}</h2>
        </div>
        <div class="card-body">
          {{file.size | fileSize}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"></div>
  </div>
</div>



<p>
  {{title | summary : 20}}
</p> -->